@inject ILanguageContainerService language
@inject NavigationManager navigationManager
<BFUStack Horizontal="false" VerticalFill="true" Style="overflow:hidden;">
    <BFUStackItem Grow="0" VerticalFill="false" Align="Alignment.Center">
        <div class="top-row">
            <BFULink Href="/">dotNet Labs V1.0</BFULink>
        </div>
    </BFUStackItem>

    <BFUStackItem VerticalFill="true" Style="overflow-y:auto;">
        <BFUNav>
            <BFUNavLinkGroup Name="dotNet Labs" CollapseByDefault="false">
                @*<BFUNavLink Name="Basic" Url="" Id="" IconName="ButtonControl" OnClick=@OnLinkClicked />*@
                <BFUNavLink Name="@language["NavMenu:Videos"]" Url="videos" Id="buttonsPage" />
                <BFUNavLink Name="@language["NavMenu:Playlists"]" Url="playlists" Id="checkboxPage" OnClick=@OnLinkClicked />
                <BFUNavLink Name="@language["NavMenu:Management"]" Url="checkboxPage" Id="checkboxPage" OnClick=@OnLinkClicked />
            </BFUNavLinkGroup>
        </BFUNav>
    </BFUStackItem>
</BFUStack>

@code {

    [Parameter]
    public EventCallback<BFUNavLink> OnLinkClicked { get; set; }

    bool collapseNavMenu = true;

    string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    protected override void OnInitialized()
    {
        language.InitLocalizedComponent(this);
        base.OnInitialized();
    }
}
