@page "/"

<h1>Welcome to dotNet Labs</h1>

<BFUStack Horizontal="true" Tokens=@(new BFUStackTokens() { ChildrenGap = new[] { 40.0 } })>
    <BFUDefaultButton Text="Standard" />
    <BFUPrimaryButton Text="Primary"  />
</BFUStack>

Welcome to your new app.

<h2>Hello I'm making changes in real</h2>

<SurveyPrompt Title="How is Blazor working for you?" />
