@page "/"

<h1>Hello, world!</h1>

<BFUStack Horizontal="true" Tokens=@(new BFUStackTokens() { ChildrenGap = new[] { 40.0 } })>
    <BFUDefaultButton Text="Standard" />
    <BFUPrimaryButton Text="Primary"  />
</BFUStack>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />
